.CommentList {
  width: 100%;
  padding: 10px;
}

.CommentList p {
  color: #929292;
  font-size: 14px;
}
.CommentList ul {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}
.CommentList button {
  color: #929292;
  background-color: transparent;
  cursor: pointer;
}

.Comment {
  width: 100%;
  padding: 0 10px;
  border-top: 1px solid #dbdbdb;
  height: 52px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Comment input {
  height: 50px;
  width: 400px;
  padding: 5px;
}
.Comment button {
  color: #4193ef;
  background-color: transparent;
  cursor: pointer;
}

.icon {
  width: 22px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .Comment input {
    width: 230px;
  }
}
