.CommentList {
  width: 100%;
  padding: 10px;
}

.CommentList p {
  color: #929292;
  margin: 10px 0;
}
.CommentList li {
  margin: 10px;
}

.CommentList ul {
  display: flex;
  justify-content: space-between;
}
.CommentList button {
  color: #929292;
  background-color: transparent;
}

.Comment {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #dbdbdb;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Comment input {
  border-top: 1px solid #dbdbdb;
  height: 50px;
  padding: 10px;
  display: flex;
  width: 90%;
}
.Comment button {
  color: #4193ef;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 800px) {
  .Comment button {
    font-size: 12px;
  }

  .Comment input {
    width: 230px;
  }
}
