.Login {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_wrapper {
  padding-top: 20px;
  width: 400px;
  height: 400px;
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 300px;
  height: 90px;
  object-fit: contain;
}

.input_email,
.input_pw {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: #fafafa;
  width: 300px;
  height: 40px;
  margin: 5px;
  padding: 10px;
}

.input_email_invalid,
.input_pw_invalid {
  border: 2px solid red;
  border-radius: 5px;
  background-color: #fafafa;
  width: 300px;
  height: 40px;
  margin: 5px;
  padding: 10px;
}

/* input:focus {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: #fafafa;
  width: 300px;
  height: 40px;
  margin: 5px;
  padding: 10px;

  border: 2px solid red;
}

input:blur {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: #fafafa;
  width: 300px;
  height: 40px;
  margin: 5px;
  padding: 10px;
} */

.btn_login {
  width: 300px;
  height: 40px;
  margin: 10px 5px;
  padding: 10px;
  background-color: #c3e0fa;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.valid_btn_login {
  width: 300px;
  height: 40px;
  margin: 10px 5px;
  padding: 10px;
  background-color: #1e4371;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.forgot_pw {
  color: #1e4371;
  font-size: 12px;
}
.signup_wrapper {
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  width: 400px;
  height: 60px;
  border: 1px solid #e5e5e5;
}
