.CommentList {
  width: 100%;
  padding: 10px;
}

.CommentList p {
  color: #929292;
  margin: 10px 0;
}
.CommentList li {
  margin: 10px;
}

.CommentList ul {
  display: flex;
  justify-content: space-between;
}
.CommentList button {
  color: #929292;
  background-color: transparent;
}
